<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RentaCar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/StylesCarViews.css">

</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Tus Vehículos</h1>
        <ul id="listaVehiculos" class="list-group">
            <!-- Aquí se mostrará la lista de vehículos -->
        </ul>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function procesarRutaImagen(rutaImagen) {
            console.log('Ruta de imagen base en el front: ', rutaImagen);
            if (!rutaImagen) {
                return '';
            }

            var index = rutaImagen.lastIndexOf('uploads');
            if (index === -1) {
                return rutaImagen;
            }

            var rutaRelativa = rutaImagen.substring(index);

            return rutaRelativa.replace(/\\/g, '/');
        }
        $(document).ready(function() {
            console.log('Ajax funcionando');
            $.ajax({
                url: '/api/vehiculos',
                method: 'GET',
                success: function(response) {
                    console.log('Vehiculos en el front: ', response.data); 
                    if (Array.isArray(response.data)) {
                        // Recorrer el array de vehículos
                        response.data.forEach(function(vehiculo) {
                            var urlImagen = procesarRutaImagen(vehiculo.ruta_imagen);
                            console.log('ID del vehiculo en el html generado: ', vehiculo.VehiculoID);
                            var vehiculoHTML = '<li class="list-group-item">' +
                                '<div class="row">' +
                                '<div class="col-md-4">';
                                    if (urlImagen) {
                                        vehiculoHTML += '<img src="' + urlImagen + '" alt="Imagen del vehículo" class="vehiculo-imagen">';
                                    } else {
                                        vehiculoHTML += '<div class="image-not-available">Imagen no disponible</div>';
                                    }
                            vehiculoHTML += '</div>' +
                                '<div class="col-md-8">' +
                                '<strong>Modelo:</strong> ' + vehiculo.Modelo + '<br>' +
                                '<strong>Marca:</strong> ' + vehiculo.Marca + '<br>' +
                                '<strong>Año:</strong> ' + vehiculo.Anos + '<br>' +
                                '<strong>Color:</strong> ' + vehiculo.Color + '<br>' +
                                '<strong>Combustible:</strong> ' + vehiculo.Combustible + '<br>' +
                                '<strong>Costos:</strong> ' + vehiculo.Costos + '<br>' +
                                '<strong>Disponible:</strong> ' + vehiculo.Disponible + '<br>' +
                                '<strong>Placas:</strong> ' + vehiculo.Placas + '<br>' +
                                '<strong>Puertas:</strong> ' + vehiculo.Puertas + '<br>' +
                                '<strong>Tipo de Vehículo:</strong> ' + vehiculo.TipoVehiculo + '<br>' +
                                '<strong>Transmisión:</strong> ' + vehiculo.Transmision + '<br>' +
                                '<button class="btn btn-primary rentar-btn" data-id="' + vehiculo.VehiculoID + '">Modificar</button>'+
                                '</div>' +
                                '</div>' +
                                '</li>';
                            $('#listaVehiculos').append(vehiculoHTML);
                        });
                    } else {
                        console.error('Error: La propiedad "data" no es un array.');
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error al obtener la lista de vehículos:', error);
                }
            });
        });
    // Función para manejar el clic en el botón de "Modificar"
    $(document).on('click', '.rentar-btn', function() {
    console.log('Botón de modificar clickeado');
    var vehiculoId = $(this).data('id');
    console.log('Id del vehiculo al click: ', vehiculoId);
    Swal.fire({
        title: 'Modificar Vehículo',
        html:
            '<input id="años" class="swal2-input" placeholder="Años">' +
            '<select id="puertas" class="swal2-select">' +
            '<option value="2">2 puertas</option>' +
            '<option value="4">4 puertas</option>' +
            '</select>' +
            '<select id="transmision" class="swal2-select">' +
            '<option value="Manual">Manual</option>' +
            '<option value="Automático">Automático</option>' +
            '</select>' +
            '<input id="placas" class="swal2-input" placeholder="Placas">' +
            '<input id="marca" class="swal2-input" placeholder="Marca">' +
            '<input id="modelo" class="swal2-input" placeholder="Modelo">' +
            '<select id="tipoVehiculo" class="swal2-select">' +
            '<option value="SUV">SUV</option>' +
            '<option value="Sédan">Sédan</option>' +
            '<option value="Pickup">Pickup</option>' +
            '<option value="Camioneta">Camioneta</option>' +
            '<option value="Deportivo">Deportivo</option>' +
            '</select>' +
            '<input id="color" class="swal2-input" placeholder="Color">' +
            '<select id="combustible" class="swal2-select">' +
            '<option value="Gasolina">Gasolina</option>' +
            '<option value="Diesel">Diesel</option>' +
            '<option value="Eléctrico">Eléctrico</option>' +
            '<option value="Híbrido">Híbrido</option>' +
            '</select>' +
            '<select id="disponible" class="swal2-select">' +
            '<option value="Si">Disponible</option>' +
            '<option value="No">No disponible</option>' +
            '</select>' +
            '<input id="precio" class="swal2-input" placeholder="Precio">',
        focusConfirm: false,
        showCancelButton: true,
        confirmButtonText: 'Guardar',
        cancelButtonText: 'Cancelar',
        preConfirm: () => {
            const años = Swal.getPopup().querySelector('#años').value;
            const puertas = Swal.getPopup().querySelector('#puertas').value;
            const transmision = Swal.getPopup().querySelector('#transmision').value;
            const placas = Swal.getPopup().querySelector('#placas').value;
            const marca = Swal.getPopup().querySelector('#marca').value;
            const modelo = Swal.getPopup().querySelector('#modelo').value;
            const tipoVehiculo = Swal.getPopup().querySelector('#tipoVehiculo').value;
            const color = Swal.getPopup().querySelector('#color').value;
            const combustible = Swal.getPopup().querySelector('#combustible').value;
            const disponible = Swal.getPopup().querySelector('#disponible').value === 'Si'; // Cambiado de 'true' a 'Si'
            const precio = Swal.getPopup().querySelector('#precio').value;

            // Validar los datos ingresados
            if (!años || !puertas || !transmision || !placas || !marca || !modelo || !tipoVehiculo || !color || !combustible || !precio) {
                Swal.showValidationMessage('Por favor, completa todos los campos obligatorios');
            } else {
                console.log('Datos del formulario: ', { años, puertas, transmision, placas, marca, modelo, tipoVehiculo, color, combustible, disponible, precio });
                return { años, puertas, transmision, placas, marca, modelo, tipoVehiculo, color, combustible, disponible, precio };
            }
        }
    }).then((result) => {
        if (result.isConfirmed) {
            console.log('Modificar vehículo con ID:', vehiculoId);
            console.log('Datos del formulario:', result.value); 
            
            $.ajax({
                url: '/api/vehiculosmod/' + vehiculoId,
                method: 'POST', // Cambiar el método a POST
                contentType: 'application/json',
                data: JSON.stringify({ vehiculoId: vehiculoId, formData: result.value }), // Corregido el typo en 'vehiculoId'
                success: function(response) {
                    Swal.fire(
                        '¡Modificado!',
                        'Los detalles del vehículo han sido actualizados correctamente.',
                        'success'
                    ).then(() => {
                        // Recargar la página para mostrar los cambios actualizados
                        location.reload();
                    });
                },
                error: function(xhr, status, error) {
                    console.error('Error al modificar el vehículo:', error);
                    Swal.fire(
                        'Error',
                        'Hubo un error al modificar el vehículo.',
                        'error'
                    );
                }
            });

        }
    });
});


</script>
    </script>
</body>
</html>